.hero{
    height: 88.5vh;
    background: linear-gradient(180deg, #ffff, rgb(255, 126, 126) 80%);
    display: flex;
}

.hero-left{
    text-align: left;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 180px;
    line-height: 1.1;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.hand-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hand-hand-icon img{
    width: 5rem;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff0000;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-latest-btn img{
    width: 2rem;
    margin-top: .1rem;
}

.hero-right {
    flex: 1;
}

/* melhorar a ft da modelo */
.iconModel{
    margin-top: 3.9rem;
    width: 75%;
}